<html>
    <title>
        Eventos
    </title>
    <body>
        Todos os Eventos
        <table>
            <thead>
                <th>Nome</th>
                <th>Data</th>
                <th>Inscrever</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="user" style="display: none;">
            <label>E-mail:</label>
            <input id="email"/><br>
            <label>Nome:</label>
            <input id="nome"/>
            <button id="inscribe">Me inscrever</button>
        </div>
        <label id="retorno" style="color: green; display: none;"></label><br>
        <button id="back_login">Voltar</button>
    </body>
    <script>require('../js/events.js')</script>
</html>