<html>
    <head>
        <title>Eventos</title>
    </head>
    <body>
        <form>
            <label>E-mail</label><br>
            <input id="email" type="email"/><br>
            <label>Senha</label><br>
            <input id="password" type="password"/>
        </form>
        <button id="login">Login</button>
        <button id="register_call">Register</button>
        <button id="certificates">Certificados</button>
        <button id="validate">Validar Certificado</button>
        <button id="email">Email</button>
        <script>require('../js/login.js')</script>
    </body>
</html>