<html>
    <title>
        Participants
    </title>
    <body>
        Participantes do Evento
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Presença</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <label id='return' style="display: none;">Presença confirmada</label>
        <button id="back_events">Voltar</button>
    </body>
    <script>require('../js/participants.js')</script>
</html>