<html>
    <head>
        <title>
        </title>
        <body>
            <form>
                <label>Nome</label>
                <input id="name"/><br>
                <label>E-mail</label>
                <input id="email" type="email"/><br>
                <label>Senha</label>
                <input id="password" type="password"/><br>
                <button id="back_login">Voltar</button>
                <button id="register">Cadastrar</button>
            </form>
        </body>
        <script>require('../js/register.js')</script>
    </head>
</html>